.header-wrap {

	 width: 100%;
	 height: 165px;
	 position: relative;
	 
}

.facture-wrap {

	 position: absolute;
	 bottom: -30px;
	 right: 65px;
	 background-color: rgb(153, 225, 231);
	 width: 362px;
	 height: 65px;
	 box-shadow: rgb(153, 153, 153) 15px -8px 2px 3px;
	 
}

.facture-text {

	 display: flex;
	 justify-content: space-evenly;
	 color: black;
	 
}

.facture-text p { font-size: 2.2rem; padding-top: 10px; color-scheme: auto; width: auto; }.facture-label {

	 font-weight: bolder;
	 
}.facture-number {

	 border: solid red;
	 padding: 10px;
	 
}

