.table-wrap {

	 border: rgb(74, 74, 97);
	 display: block;
	 margin-top: 90px;
	 
}

.table-wrap > .table-row p{
  font-size: var(--table-row);
}


.table-headers-blue{
  background-color: var(--default-blue);
  color: white;
  padding: 15px 0px 15px 55px !important;
}

.table-body {
	 display: flex;
	 flex-direction: column;
	 }
	.table-row{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  padding-left: 100px !important;
  padding-right: 100px !important;
  overflow-wrap: break-word !important;
}

.table-body > .table-row p {
	 font-size: var(--table-row);
	 max-width: 20%;
	 min-width: 20%;
	 border: 5px solid rgb(80, 80, 80);
	 box-shadow: grey 1px 1px 1px 1px;
	 padding: 4px;
	 color: rgb(87, 151, 204);
	 }
	.table-row p:nth-child(1) {

	 text-align: right;
	 
}

.table-row p:nth-child(2) {

	 width: 25%;
	 text-align: center;
	 border: 5px solid rgb(80, 80, 80);
	 box-shadow: grey 1px 1px 1px 1px;
	 padding: 4px;
	 
}

.table-row p:nth-child(3) {

	 text-align: center;
	 width: 100%;
	 border: 5px solid rgb(80, 80, 80);
	 box-shadow: grey 1px 1px 1px 1px;
	/* padding: 6px;*/
	 
}.table-row p:nth-child(n+4) {

	 width: 25%;
	 text-align: right;
	 
}

.table-footer {

	 border: beige;
	 
}

.table-footer > .condition p:nth-child(3) {
	 background: beige;
	 }
	.table-footer > .table-row { color: gray; }.table-footer > .table-row p {

	 color: rgb(20, 55, 232);
	 border: 5px solid rgb(153, 225, 231);
	 padding: 20px;
	 
}

.table-footer > .table-row > #total-summary-large {
	 border: 5px solid rgb(80, 80, 80);
	 box-shadow: grey 1px 1px 1px 1px;
	 padding: 40px;
	 color: rgb(87, 151, 204);
	 }
	.table-footer > .table-row > #total-summary-larger {
	 color: black;
	 width: 100%;
	 border: 5px solid rgb(153, 225, 231);
	 box-shadow: grey 1px 1px 1px 1px;
	 padding: 20px;
	 }
	.table-footer > .table-row p:last-child { }


.condition{
  padding-top: 0px;
  padding-bottom: 0px;
}


#condition-header {

	 padding-bottom: 0px;
	 
}

#condition-subheader{
  width: 50% !important;
  text-align:left;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

#condition-subheader p{
  color: var(--default-grey);
  font-size: 12px;  
  width: 100%;
  text-align: left !important;
}









